/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .box {
        width: 100%;
   
        background-color: #86baee;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .box {
        background-color: #1681ec;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .box {
        background-color: rgb(211, 196, 227);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .box {
        background-color: #63f7d2;
    }
}

/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .box {
        background-color: #28a745;
    }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .box {
        background-color: #e928d6;
    }
}
