.box{
    padding: 10px;
    margin: 5px 0;
}
.mh{
    height: 300px;
    background-color: bisque;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: lightpink;
    border-radius: 50%;
}
.container{
padding: 12px;
}
.s_1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}